/* Tailwind CSS */
@import "tailwindcss";

/* fonte título*/
@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend/Lexend-VariableFont_wght.ttf');
}

/* fonte corpo*/
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.header {
  @apply flex items-center justify-between w-full shadow-md py-[2vh] px-[5vw];
  & nav {
    @apply max-md:fixed max-md:bottom-0 max-md:left-0 max-md:w-full max-md:z-30 bg-white;

    & ul {
      @apply flex items-center justify-center gap-[1vw];
    }
  }
}

h1 {
  @apply text-cc-preto
}

.logo {
  @apply max-sm:h-[6vh] h-[8vh];
}

@theme {
  --color-cc-azul: #1E77D0;
  --color-cc-preto: #2d2d2d;
}

:root {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #4e4e4e;
}