/* Tailwind CSS */
@import "tailwindcss";

/* fonte título*/
@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend/Lexend-VariableFont_wght.ttf');
}

/* fonte corpo*/
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.header {
  @apply flex items-center justify-between h-[12vh] w-full shadow-md py-[2vh] px-[5vw] bg-white;
  & nav {
    @apply bg-white;

    & ul {
      @apply flex items-center justify-center gap-[1vw];
    }
  }
}

h1 {
  @apply font-['Lexend'] font-black uppercase;
}

.titulo-2 {
  @apply text-3xl font-['Lexend'] font-bold mb-[4vh]
}

.logo {
  @apply h-[8vh];
}

main {
  @apply flex flex-col items-center min-w-[300px] w-[80vw] max-w-[1400px] min-h-[70vh] my-[2vh] bg-white rounded-lg;
}

.card-inicial {
  @apply bg-cc-azul rounded-4xl p-8 drop-shadow-lg min-w-[240px];

  & p {
    @apply text-white mt-8 text-lg;
  }
}

@theme {
  --color-cc-azul: #1E77D0;
  --color-cc-preto: #2d2d2d;
  --color-cc-cinza: #f0f4f4;
}

:root {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #4e4e4e;
}